* {
    padding: 0px;
    margin: 0px;
}

.registration-one, .registration-two {
    background-color: rgba(152, 103, 103, 0.4);
    color: white;
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    box-shadow:         0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(249, 51, 114);
}
a{
    text-decoration: none;
}
